<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.tonyatkins.archetype"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />    
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.StartupActivity"
            android:label="@string/startup_activity_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ButtonGridActivity"
            android:label="@string/button_grid_activity_label" />
        <activity
            android:name=".activity.ExceptionPitcherActivity"
            android:label="@string/exception_pitcher_activity_label" />
        <activity
            android:name=".activity.ExceptionCatcherActivity"
            android:label="@string/exception_catcher_activity_label" />
        <activity
            android:name=".activity.FragmentFlingerActivity"
            android:label="@string/fragment_flinger_activity_label" />
        <activity
            android:name=".activity.ImageMaskActivity"
            android:label="@string/image_mask_activity_label" />
        <activity
            android:name=".activity.LauncherActivity"
            android:label="@string/launcher_activity_label" />
        <activity
            android:name=".activity.ServiceControllerActivity"
            android:label="@string/service_controller_activity_label" />
        <activity
            android:name=".activity.TouchEventActivity"
            android:label="@string/touch_event_activity_label" />
        <activity
            android:icon="@drawable/onair"
            android:exported="false"
            android:name="com.blogspot.tonyatkins.recorder.activity.RecordSoundActivity"
            android:label="@string/recorder_event_activity_label" >
            <intent-filter>
                <action android:name="android.provider.MediaStore.RECORD_SOUND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ArchetypeService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/service_controller_activity_label" />
    </application>

</manifest>